In [1]:
print("Abith Raj")

Abith Raj

In [2]:
Institute_name=input("Enter thr institute name? : ")

Enter thr institute name? : VIT

In [4]:
Name=input("Enter the name: ")
Age=input("Enter the age: ")
School=input("Enter the school name: ")
Degree=input("Enter the degree: ")

Enter the name: Abith
Enter the age: 21
Enter the school name: Don bosco
Enter the degree: MS

In [5]:
a=43
b=34
add=a+b
sub=a-b
print("add: ",add)
print("Sub: ",sub)
div=a//b
print("Division: ",div)
mod=a%b
print("Modulo: ",mod)
power=a**b
print("")

77

In [3]:
for i in range(0,20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [4]:
for i in range(10,20):
    print(i)

10
11
12
13
14
15
16
17
18
19

In [5]:
list=[23,54,23,5,6,1,5,6,7]
print(len(list))

9

In [6]:
num="Artificial Intelligence"
for i in num:
    print(i)

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [7]:
Name=input("Enter the name: ")
Age=int(input("Enter the age: "))
Profession=input("Enter the Profession: ")

Enter the name: Abi
Enter the age: 21
Enter the Profession: Student

In [8]:
tuple=(2,"Abi","student",343)
print(tuple)

(2, 'Abi', 'student', 343)

In [9]:
tuple1=(3,4,56,7)
tuple2=("abi","Student")
print(tuple1,tuple2)

(3, 4, 56, 7) ('abi', 'Student')

In [10]:
list=[2,3,4,5,6,7,8,9,12]
for i in list:
    if i%2==0:
        print(i,"is even")

2 is even
4 is even
6 is even
8 is even
12 is even

In [11]:
value=int(input("enter the value: "))

enter the value: 32

In [12]:
if value==10:
    print("Correct")

In [13]:
Password=input("Enter the Password: ")
if Password=="Abith":
    print("Success")

Enter the Password: Abith
Success

In [14]:
num=int(input("Enter the number: "))
if num>=1:
    print("Its positive number")
else:
    print("Its negative number")

Enter the number: 32
Its positive number

In [15]:
num=int(input("Enter the number to check: "))
if num%5==0:
    print("Its divisible")
else:
    print("No")

Enter the number to check: 5
Its divisible